<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar-custom" th:fragment="topSidebar">
    <div class="logo-box">
        <a href="#" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img th:src="@{/user_side/images/logo1.png}" alt="Logo" width="100" height="100">
                </span>
        </a>
    </div>
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0" style="display: flex; justify-content: space-between">
        <li>
            <button class="button-menu-mobile">
                <i class="mdi mdi-menu"></i>
            </button>
        </li>
        <li class="logout-container" style="margin-left: auto">
            <button class="logout-btn" style="border: none; outline: none; background: none; cursor: pointer;"
                    data-toggle="modal" data-target="#logoutModel">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </button>
        </li>
    </ul>

    <!-- Modal -->
    <div id="logoutModel" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title-popup-2">Logout Confirmation</h5>
                </div>
                <div class="modal-body justify-content-between" >
                    <h6 id="msg-popup-2" >Do you want to log out?</h6>

                </div>
                <div class="modal-footer justify-content-center" >
                    <button id="button-1-popup-2" class="btn btn-danger"
                            data-dismiss="modal" style="width: 80px">No
                    </button>
                    <form id="logoutForm" th:action="@{/logout}" method="post">
                        <button type="submit"  class="btn btn-primary" style="width: 80px ; background-color: forestgreen" >Yes</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

</body>
</html>
