<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar-custom" th:fragment="topSidebar">
    <div class="logo-box">
        <a href="#" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img th:src="@{/user_side/images/logo1.png}" alt="Logo" width="100" height="100">
                </span>
        </a>
    </div>
    <div class="logout-container">
        <form id="logoutForm" th:action="@{/logout}" method="post">
        <button  class="logout-btn" style="border: none; outline: none; background: none; cursor: pointer;">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </button>
        </form>
    </div>
</div>
</body>
</html>
