body {
    font-family: Roboto, sans-serif;
    padding: 20px;
    background-color: #f8f9fa;
}

.request-column{
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.request-column:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.request-card {
    overflow-x: auto;
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    line-height: 1.2;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.request-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.school-summary {
    overflow-x: auto;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    line-height: 1.2;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.school-summary:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.school-summary p {
    overflow: auto;
}
.status-open {
    background-color: #d4edda;
    color: #155724;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}
.status-closed {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.status-time {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}
.star-rating {
    color: #ffc107;
}


.container-fluid {
    max-width: 1200px;
}


#messages {
    display: inline-block;
    text-align: center;
    font-style: italic;
    padding: 0;
    margin: 30px;
    border: 6px double #FFFFFF;
    background-color: green;
    color: white;
    padding: 5px 10px;
}

/* Drop-down */
.logout-container {
    position: relative;
    display: inline-block;
}

.dropdown {

    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #1ECB15;
    color: white;
    padding: 8px 16px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.arrow-down {
    display: inline-block;
    margin-left: 8px;
    border: solid #212529;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 2px;
}

.dropdown-menu a {
    color: #212529;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.show {
    display: block;
}

.btn-primary {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.overlay.active {
    opacity: 1 !important;
    visibility: visible !important;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.button-container {
    margin-top: 15px;
}

.btn-yes {
    width: 80px;
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-cancel {
    width: 80px;
    background-color: #5bc0de;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.school-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.rating-stars {
    color: #ffc107;
}


.container {
    margin-top: 50px;
}

.star-filled {
    color: gold;
}

.star-half {
    background: linear-gradient(90deg, gold 50%, #ccc 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star-empty {
    color: #ccc;
}