.btn-closed {
    background-color: #E6FAE6;
    color: #28a745;
    border: 2px solid #555;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-closed:hover {
    border-color: #333;
    background-color: #D4F5D4;
}

.app-search {
    display: flex;
    justify-content: flex-end;
}

.app-search-box {
    max-width: 300px;
}

.app-search .form-control {
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 10px 15px;
}

.app-search .btn {
    background-color: #28a745;
    color: white;
    border-radius: 20px;
    padding: 8px 15px;
    border: none;
}

.pagination-container {
    margin-top: 20px;
}

.logout-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.logout-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
    margin-top: 20px;
}

.logout-btn i {
    font-size: 22px;
    color: #333;
}

.btn-closed {
    font-size: 12px; /* Giảm kích thước chữ */
    padding: 3px 10px; /* Giảm padding */
    border-radius: 15px; /* Giảm độ bo tròn */
}
.table-container {
    max-height: 600px; /* Điều chỉnh chiều cao theo ý muốn */
    overflow-y: auto;
    overflow-x: auto;
    display: block;
    margin-bottom: 10px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Giữ cột cố định kích thước */
}

.table tbody {
    display: block;
    max-height: 450px; /* Điều chỉnh theo nhu cầu */
    overflow-y: auto;
    width: 100%;
}
.email-column {
    max-width: 250px; /* Giới hạn chiều rộng */
    word-wrap: break-word; /* Cho phép xuống dòng */
    overflow-wrap: break-word; /* Đảm bảo xuống dòng */
    white-space: normal; /* Cho phép nội dung xuống dòng */
    display: block; /* Giúp nội dung xuống dòng đúng */
}
