<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        KinderGarten Suggestion</title>
    <link rel="icon" th:href="@{/user_side/images/icon.png}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link th:href="@{/user_side/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/mdb.min.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/plugins.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/style.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/coloring.css}" rel="stylesheet">
    <link id="colors" th:href="@{/user_side/css/colors/scheme-01.css}" rel="stylesheet">
</head>

<body>
<div id="wrapper">

    <!-- page preloader begin -->
    <div id="de-preloader"></div>
    <!-- page preloader close -->
    <!-- header begin -->
    <div th:replace="user_side/header :: header"></div>
    <!-- header close -->
    <!-- content begin -->
    <div class="no-bottom no-top zebra" id="content">
        <div id="top"></div>
        <!-- section begin -->
        <section id="subheader" class="jarallax text-light">
            <img th:src="@{/user_side/images/background/14.jpg}" class="jarallax-img" alt="">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Change Password</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->
        <section id="section-settings" class="bg-gray-100">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9">
                        <div class="card padding40  rounded-5">
                            <div class="row">
                                <form id="form-create-item" class="form-border" method="post" th:action="@{change-password}">
                                    <div class="de_tab tab_simple">
                                        <ul class="de_nav">
                                            <li class="active"><span>Change password</span></li>
                                        </ul>
                                        <div class="de_tab_content">
                                            <div class="tab-1">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h5>Current Password</h5>
                                                        <input type="password"  th:name="oldPassword"  class="form-control"
                                                               placeholder="Enter your current password:"/>
                                                        <div th:if="${passwordWrong}" style="color: red;">
                                                            <p th:text="${passwordWrong}"></p>
                                                        </div>                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h5>New Password</h5>
                                                        <input type="password" th:name="newPassword" class="form-control"
                                                               placeholder="Enter new password:" />
                                                        <div th:if="${errorPassword}" style="color: red;">
                                                            <p th:text="${errorPassword}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h5>Confirm Password</h5>
                                                        <input type="password" th:name="confirmPassword" class="form-control" required
                                                               placeholder="Confirm password:"/>
                                                        <div th:if="${notMatch}" style="color: red;">
                                                            <p th:text="${notMatch}"></p>
                                                        </div>
                                                    </div>
                                                    <div th:if="${successUpdate}" style="color: green;">
                                                        <p th:text="${successUpdate}"></p>
                                                    </div>
                                                    <div th:if="${exceptionError}" style="color: red;">
                                                        <p th:text="${exceptionError}"></p>
                                                    </div>
                                                    <div class="col-md-12 d-flex justify-content-center">
                                                        <div class="col-md-4 mb60 d-flex gap-4 justify-content-center">
                                                            <input type="reset" value="Cancel" class="btn-main">
                                                            <input type="submit" value="Save" class="btn-main">
                                                        </div>
                                                    </div>
                                                    <div th:if="${successUpdate}" class="alert alert-success">
                                                        <p th:text="${successUpdate}"></p>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- content close -->
    <a href="#" id="back-to-top"></a>
</div>

<!-- Javascript Files
================================================== -->
<script th:src="@{/user_side/js/plugins.js}"></script>
<script th:src="@{/user_side/js/designesia.js}"></script>
<script>
    setTimeout(function() {
        window.location.href = '/public/showMyLoginPage';
    }, 3000);
</script>
</body>
</html>