<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/user_side/css/style.css}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- header begin -->
<header class="transparent scroll-light has-topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a th:href="@{/home}">
                                    <img class="logo-1" src="/user_side/images/logo-light.png" alt="">
                                    <img class="logo-2" src="/user_side/images/logo1.png" alt="">
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" href="index.html">School Search</a>
                            </li>
                            <li><a class="menu-item" href="index.html">Community</a>
                            </li>
                            <li><a class="menu-item" href="index.html">About Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area" >
                            <a th:href="@{/showMyLoginPage}" class="btn-main"> Login</a>
                            <span class="menu-btn"></span>
                        </div>
                        <div class="menu_side_area">
                            <a th:href="@{/register}" class="btn-main">Sign Up</a>
                            <span class="menu-btn"></span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
