<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx">
<head>
    <title>Register</title>
    <link rel="icon" th:href="@{/user_side/images/icon.png}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rentaly - Multipurpose Vehicle Car Rental Website Template">
    <link th:href="@{/user_side/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/mdb.min.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/plugins.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/style.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/coloring.css}" rel="stylesheet">
    <link id="colors" th:href="@{/user_side/css/colors/scheme-01.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div id="de-preloader"></div>
    <div th:replace="user_side/header :: header"></div>

    <section id="subheader" class="jarallax text-light text-center">
        <img th:src="@{/user_side/images/background/subheader.jpg}" class="jarallax-img" alt="">
        <div class="center-y relative">
            <h1>Register</h1>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center register">
                <div class="col-md-6">
                    <h3 class="text-center mb-4">Create a new account</h3>

                    <!-- Global Error Message -->
                    <div th:if="${globalError}" class="alert alert-danger">
                        <span th:text="${globalError}"></span>
                    </div>

                    <!-- Success Message -->
                    <div th:if="${successMessage}" class="alert alert-success">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <form th:action="@{/public/register}" th:object="${accountVo}" method="post"
                          class="p-4 shadow rounded bg-white" name="registerForm">
                        <!-- Full Name -->
                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input type="text" th:field="*{fullName}" class="form-control"
                                   placeholder="e.g., John Doe">
                            <span class="text-danger" th:if="${fullNameError}" th:text="${fullNameError}"></span>
                        </div>
                        <!-- Email Address -->
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="text" th:field="*{email}" class="form-control"
                                   placeholder="e.g., example@gmail.com">
                            <span class="text-danger" th:if="${emailError}" th:text="${emailError}"></span>
                        </div>
                        <!-- Mobile Number -->
                        <div class="mb-3">
                            <label class="form-label">Mobile Number</label>
                            <input type="text" th:field="*{phone}" class="form-control"
                                   placeholder="e.g., 0987654321">
                            <span class="text-danger" th:if="${phoneError}" th:text="${phoneError}"></span>
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" th:field="*{password}" class="form-control"
                                   placeholder="Enter your password">
                            <span class="text-danger" th:if="${newPasswordError}" th:text="${newPasswordError}"></span>
                        </div>
                        <!-- Confirm Password -->
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" th:field="*{confirmPassword}" class="form-control"
                                   placeholder="Re-enter your password">
                            <span class="text-danger" th:if="${confirmPasswordError}"
                                  th:text="${confirmPasswordError}"></span>
                        </div>
                        <div class="d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-warning w-45" onclick="window.location.href='/showMyLoginPage'">Cancel</button>
                            <input type="submit" value="Sign Up" id="registerButton" class="btn btn-primary w-45">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script th:src="@{/user_side/js/plugins.js}"></script>
<script th:src="@{/user_side/js/designesia.js}"></script>
<script th:src="@{/user_side/js/register.js}"></script>

</body>
</html>
