<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx">
<head>
  <title>Register</title>
  <link rel="icon" th:href="@{/user_side/images/icon.png}" type="image/gif" sizes="16x16">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
  <link th:href="@{/user_side/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/user_side/css/mdb.min.css}" rel="stylesheet">
  <link th:href="@{/user_side/css/plugins.css}" rel="stylesheet">
  <link th:href="@{/user_side/css/style.css}" rel="stylesheet">
  <link th:href="@{/user_side/css/coloring.css}" rel="stylesheet">
  <link id="colors" th:href="@{/user_side/css/colors/scheme-01.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
  <div id="de-preloader"></div>
  <section id="subheader" class="jarallax text-light">
    <img th:src="@{user_side/images/background/subheader.jpg}" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Register</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h3>Create a new user</h3>
          <form th:action="@{/register}" method="post">
            <div class="row">
              <div class="col-md-12">
                <div class="field-set">
                  <label>Full Name:</label>
                  <input type="text"  class="form-control" placeholder="Enter your full name">
                </div>
              </div>
              <div class="col-md-12">
                <div class="field-set">
                  <label>Email Address:</label>
                  <input type="email"  class="form-control" placeholder="info@xyz.com">
                </div>
              </div>
              <div class="col-md-12">
                <div class="field-set">
                  <label>Mobile No.:</label>
                  <input type="text"  class="form-control" placeholder="099999999">
                </div>
              </div>
              <div class="col-md-12">
                <div class="field-set">
                  <label>Password:</label>
                  <input type="password"  class="form-control" placeholder="xxxxxxxxxxxx">
                </div>
              </div>
              <div class="col-md-12">
                <div class="field-set">
                  <label>Confirm Password:</label>
                  <input type="password" name="repassword" class="form-control" placeholder="xxxxxxxxxxxx">
                </div>
              </div>
              <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-4 mb60 d-flex gap-4 justify-content-center">
                  <input type="reset" value="Cancel" class="btn-main">
                  <input type="submit" value="Sign Up" class="btn-main">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
  <script th:src="@{/user_side/js/plugins.js}"></script>
  <script th:src="@{/user_side/js/designesia.js}"></script>
</body>
</html>
