<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KinderGarten Suggestion</title>
    <link rel="icon" th:href="@{/user_side/images/icon.png}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kinder Garten Suggestion">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- CSS Files -->
    <link th:href="@{/user_side/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/mdb.min.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/plugins.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/style.css}" rel="stylesheet">
    <link th:href="@{/user_side/css/coloring.css}" rel="stylesheet">
    <link id="colors" th:href="@{/user_side/css/colors/scheme-01.css}" rel="stylesheet">
</head>

<body>
<div id="wrapper">

    <!-- page preloader begin -->
    <div id="de-preloader"></div>
    <!-- page preloader close -->

    <!-- header begin -->
    <div th:replace="user_side/header :: header"></div>

    <!-- header close -->
    <!-- content begin -->
    <div class="no-bottom no-top" id="content">
        <div id="top"></div>

        <!-- section begin -->
        <section id="subheader" class="jarallax text-light">
            <img th:src="@{user_side/images/background/subheader.jpg}" class="jarallax-img" alt="">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Reset Password</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->

        <section aria-label="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h3>Forgot your password? Reset it now.</h3>
                        <p>Please Reset your new password</p>
                        <div class="spacer-10"></div>

                        <form name="contactForm" id='contact_form' class="form-border" th:action="@{/reset-password}" method="post">
                            <!-- Thêm input hidden để gửi token -->
                            <input type="hidden" name="token" th:value="${param.token}" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-set">
                                        <label>Password:</label>
                                        <input type="password" name="newPassword" id="password" class="form-control" placeholder="Enter new password" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="field-set">
                                        <label>Confirm Password:</label>
                                        <input type="password" id="re-password" class="form-control" placeholder="Confirm new password" required>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex justify-content-center">
                                    <div class="col-md-4 mb60 d-flex gap-4 justify-content-center">
                                        <input type="reset" value="Cancel" class="btn-main">
                                        <input type="submit" value="Reset Password" class="btn-main">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- content close -->

    <a href="#" id="back-to-top"></a>

    <!-- footer begin -->
    <!-- footer close -->

</div>
<!-- Javascript Files -->
<script th:src="@{/user_side/js/plugins.js}"></script>
<script th:src="@{/user_side/js/designesia.js}"></script>


</body>


<!-- Mirrored from www.madebydesignesia.com/themes/rentaly/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Mar 2024 08:01:07 GMT -->
</html>
